<%- include('partials/header')%>
<%- include('partials/menu') %>
<div class="container">
    <div class="card espaco">
        <div class="card-header"><h1>Criar Usuario</h1></div>
        <div class="card-body">
            <form class="form" action="/cadastrar" method='POST' >
                <label for="">Nome:</label>
                <input class="form-control" type="text" name="nome" id=""><br>
                <label for="">Idade:</label>
                <input class="form-control" type="number" name="idade" id=""><br>
                <label for="">Cidade: </label>
                <input class="form-control" type="text" name="cidade" id=""><br>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>    
</div>

<%- include('partials/footer')%>